--extra-index-url https://download.pytorch.org/whl/cpu

Flask==2.2.5
Flask-Cors==3.0.10
gunicorn==23.0.0

torch==2.8.0          # will pull CPU wheel (no CUDA)
torch-geometric==2.6.1
networkx==3.5
requests==2.32.4
